@charset "UTF-8";
/*шрифты*/ /*main fonts*/
@font-face {
  font-family: "Gotham";
  font-weight: 400;
  font-style: normal;
  src: url("../sass/fonts/Gotham/Gotham-Book.woff2") format("woff2");
}
@font-face {
  font-family: "GothamMedium";
  font-weight: 500;
  font-style: normal;
  src: url("../sass/fonts/Gotham/GothamMedium.woff") format("woff2");
}
@font-face {
  font-family: "GothamBold";
  font-weight: 700;
  font-style: normal;
  src: url("../sass/fonts/Gotham/Gotham-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "GothamBlack";
  font-weight: 600;
  font-style: normal;
  src: url("../sass/fonts/Gotham/Gotham-Black.woff2") format("woff2");
}
/*переменные*/
/*fonts*/
/*color*/
/**/
/*базовые настройки*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "GothamMedium", sans-serif;
  background-color: white;
}
body.noscroll {
  overflow: hidden;
}

h1, h2, h3, h4, p, a, ul, ol, li {
  margin: 0;
  padding: 0;
}

input, button, textarea {
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #44392E;
}

ul {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.icon {
  width: 32px;
  height: 32px;
}

img {
  object-fit: cover;
}

.footer-list-item-link, .footer-list-item, .footer-title, .contacts-list-item, .card-desc-text, .promo-products-item__text, .form-search__input, .list-item-link {
  font-family: "Gotham";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #44392E;
  cursor: pointer;
}

.breadcrumbs {
  margin-top: 32px;
}
.breadcrumbs-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.breadcrumbs-list-item {
  padding: 4px 0;
  display: flex;
  align-items: center;
}
.breadcrumbs-list-item:first-child::before {
  content: none;
}
.breadcrumbs-list-item::before {
  content: "—";
  float: left;
  margin: 0 6px;
  color: #776F67;
}
.breadcrumbs-list-item-link {
  font-family: "Gotham";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #776F67;
}

/*секции*/
.header-top {
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-top-container {
  max-width: 1920px;
  margin: 0 auto;
}
.header-nav {
  margin-left: 64px;
}
.header-search {
  position: relative;
  margin: 0 64px;
  padding: 20px 32px;
  width: 100%;
  max-width: 651px;
  border-right: 1px solid #C3C1BF;
  border-left: 1px solid #C3C1BF;
}
.header-search__search-list {
  position: absolute;
  top: 125%;
  left: 0;
  width: 100%;
  height: auto;
  border-right: 1px solid #C3C1BF;
  border-left: 1px solid #C3C1BF;
  background-color: #FFFFFF;
  z-index: 999;
}
.header-phone-link {
  margin-bottom: 10px;
}
.header-actions {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header-favorites {
  margin-right: 26px;
}
.header-favorites__container {
  position: relative;
  display: inline-block;
}
.header-favorites__count {
  position: absolute;
  top: -5px;
  right: -8px;
  padding: 1px 5px;
  font-family: "GothamMedium", sans-serif;
  font-weight: 500;
  font-size: 13.5px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #44392E;
  border-radius: 50%;
  background-color: #EEC84A;
}
.header-cart-mini__container {
  position: relative;
  display: inline-block;
}
.header-cart-mini__count {
  position: absolute;
  top: -5px;
  right: -8px;
  padding: 1px 5px;
  font-family: "GothamMedium", sans-serif;
  font-weight: 500;
  font-size: 13.5px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #44392E;
  border-radius: 50%;
  background-color: #EEC84A;
}
.header-center {
  max-width: 1920px;
  width: 100%;
  height: 579px;
  position: relative;
}
.header-mobile-menu {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
}
.header-mobile-menu nav {
  display: none;
}
.header-wrapper__slide {
  height: inherit;
  z-index: 3;
}
.header-slide {
  position: relative;
  background-image: url("../img/header-bg.jpg");
  background-position: center 65%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  z-index: 1;
}
.header-slide::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 0;
}
.header-slide__desc {
  position: absolute;
  top: 50%;
  transform: translate(240px, -50%);
  display: inline-block;
  width: 361px;
  font-family: "GothamBlack";
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.1em;
  color: white;
  z-index: 2;
}
.header-slide__btn {
  margin-top: 64px;
  padding: 33px 70px;
  font-family: "GothamMedium", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  background: #692F0F;
  border: 0;
}

.nav-list {
  display: flex;
  align-items: center;
}
.nav-list-item {
  margin-right: 48px;
}
.nav-list-item:last-child {
  margin-right: 0;
}

.list-item-link {
  font-family: "GothamMedium", sans-serif;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}
.list-item-link:hover {
  color: #86573D;
}

.logo {
  height: 61px;
  width: 204px;
  object-fit: contain;
}

.form-search {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: start;
}
.form-search__input {
  width: 100%;
  letter-spacing: 0.1em;
  color: #776F67;
  border: 0;
}
.form-search__btn {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  background-image: url(../img/icons/search-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: 0;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #8B7264;
}
.swiper-pagination-bullet-active {
  background-color: #FFE7D9;
}

.search-list-item {
  padding: 7.5px 16px;
  display: flex;
  align-items: center;
  border-top: 1px solid #C3C1BF;
  border-bottom: 1px solid #C3C1BF;
}
.search-list-item__img {
  margin-right: 16px;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.search-list-item__parameter {
  display: flex;
  flex-direction: column;
}

.parameter-price, .parameter-desc {
  font-family: "Gotham";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.parameter-title {
  font-family: "GothamMedium", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #44392E;
}
.parameter-desc {
  margin: 2px 0;
  font-size: 12px;
  line-height: 14px;
}

.promo-products {
  padding: 48px 0;
}
.promo-products__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo-products__img-container {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(251, 246, 244, 0.6);
}
.promo-products-item {
  position: relative;
  margin-right: 48px;
  padding: 16px 16px;
  width: 324px;
  height: 296px;
  overflow: hidden;
}
.promo-products-item:last-child {
  margin-right: 0;
}
.promo-products-item:hover img {
  transform: scale(1.2);
}
.promo-products-item__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 324px;
  height: 296px;
  z-index: -1;
  filter: blur(4px);
  transition: 1.2s;
}
.promo-products-item__desc {
  position: relative;
  z-index: 1;
}
.promo-products-item__title {
  font-family: "GothamMedium", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #44392E;
}
.promo-products-item__text {
  margin-top: 18px;
}

.our-objects {
  padding: 64px 0;
  background-color: #FBF6F4;
}
.our-objects-content {
  margin-top: 68px;
  display: flex;
}
.our-objects__card {
  position: relative;
  width: 100%;
  display: flex;
  background-color: #252525;
  overflow: hidden;
}
.our-objects__card:last-child {
  margin-bottom: 0;
}
.our-objects__card:hover img {
  transform: scale(1.2);
}
.our-objects__card-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.our-objects__card-img {
  width: 372px;
  height: 460px;
  transition: 1s;
}
.our-objects__card-img__blur {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  filter: blur(9px);
}
.our-objects__card-img__container {
  width: 372px;
  height: 460px;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 1;
}
.our-objects__card-desc {
  position: relative;
  padding: 32px 0 0 16px;
  z-index: 1;
}
.our-objects__card-column {
  margin-left: 32px;
}
.our-objects__card-column > .our-objects__card {
  flex-direction: column;
}
.our-objects__card img {
  animation: 0.5s;
}

.card-list {
  margin-bottom: 30px;
  max-width: 848px;
}
.card-column {
  max-width: 560px;
  height: 100%;
}
.card-column-img-container {
  width: 560px;
  height: 373px;
}
.card-column-img-container > .our-objects__card-img {
  width: 560px;
  height: 373px;
}
.card-desc-title {
  font-family: "GothamBold";
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.card-desc-text {
  margin-top: 20px;
  color: #FFFFFF;
}

.contacts {
  padding: 64px 0;
}
.contacts-wrapper {
  display: flex;
  justify-content: space-between;
}
.contacts-list {
  margin: 16px 0;
}
.contacts-list-item {
  margin-top: 12px;
  font-family: "GothamMedium", sans-serif;
  font-weight: 500;
}
.contacts-list-item:first-child {
  margin-top: 0;
}
.contacts-map__img {
  width: 900px;
  height: 467px;
}

.footer {
  padding: 48px 0 24px 0;
  background-color: #FBF6F4;
}
.footer-wrapper {
  display: flex;
  align-items: center;
}
.footer-contacts {
  margin-right: 128px;
}
.footer-title {
  margin-bottom: 12px;
  font-family: "GothamMedium", sans-serif;
}
.footer-list-item {
  margin-bottom: 12px;
}
.footer-list-item:last-child {
  margin-bottom: 0;
}
.footer-list-item-link {
  display: inline-flex;
  align-items: center;
}
.footer-list-item__icon {
  display: inline-block;
  margin-right: 16px;
  width: 24px;
  height: 24px;
}
.footer-bottom {
  margin-top: 64px;
  display: flex;
  align-items: center;
}

.link-term-services {
  margin-left: 48px;
  font-family: "GothamMedium", sans-serif !important;
}

.text-copyright {
  font-family: "Gotham";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #91857A;
  cursor: pointer;
}

.icon-phone {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.icon-inst {
  width: 27px;
  height: 27px;
}

/*адаптив/медиа-запросы*/
@media (max-width: 1536px) {
  .header-search {
    max-width: 351px;
  }
  .header-nav {
    margin-left: 34px;
  }
  .header-search {
    margin: 0 34px;
  }
  .header-slide__btn {
    padding: 33px 67px;
  }
  .nav-list-item {
    margin-right: 34px;
  }
}
@media (max-width: 812px) {
  .header-mobile-menu nav {
    display: block;
  }
  .header-nav, .header-search {
    display: none;
  }
}